<!doctype html>
<html>
  <head>
  </head>
  <body>
    <form action="/" method="POST">
      Your name: <input type="text" name="login_user" />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
